/* importing font from google */
@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Stack+Sans+Text:wght@200..700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Pacifico", cursive;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: linear-gradient(to right, #83a4d4, #b6fbff);

}
#root{
    width: 100%;
    ;
}
.container{
    position: relative;
    margin: 0 auto;
    z-index: 1;
    overflow-x: hidden;
    max-width: 410px;
    border-radius: 10px;
     background: linear-gradient(to bottom right, rgba(40, 40, 40, 0.9), rgba(70, 70, 70, 0.8));
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
.container::after{
    content:"";
    z-index: -1;
    position: absolute;
    opacity: 0.7;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url(public/clouds.png);
}
.search-section{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 25px;

}
.search-section .search-form{
    height: 54px;
    width: 100%;
    position: relative;
}
.search-section .search-form span{
color: #fff;
position: absolute;
top: 50%;
left: 16px;
transform: translateY(-50%);
}
.search-section .search-input{
  width: 100%;
  height: 100%;
  outline: none;
  color: #fff;
  font-size: 1rem;
  text-transform: uppercase;
  border-radius: 6px;
    padding: 0 20px 0 50px;
  background:rgba(255, 255, 255, 0.05) ;
  border: 1px solid rgba(255, 255, 255, 0.25);
  transition: 0.1s ease;
}
.search-section .search-input:focus{
   border-color: #a38cd9;
}
.search-section .search-input::placeholder{
    color: #ddd;
    text-transform: none;

 }
 .search-section .location-button{
    height: 54px;
    width:56px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    column-rule-color: #fff;
    cursor: pointer;
    border-radius: 6px;
    background:rgba(255, 255, 255, 0.1) ;
  border: 1px solid rgba(255, 255, 255, 0.25);
  transition: 0.2s ease;
 }
 .search-section .location-button span{
    font-size: 1.3rem;
 }
    .search-section .location-button:hover{
        color: #b39fdf;
        border-color: #a38cd9;
    }
.weather-section :where(h2, p){
    color: #fff;
}
.weather-section .current-weather{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0 50px;
}
.current-weather .weather-icon{
    width: 140px;
    aspect-ratio: 1;
}
.current-weather .temperature{
  margin: 18px 0;
  display: flex;
  font-size: 3.38rem;
}
.current-weather .temperature span{
    font-size: 1.56rem;
    font-weight: 400;
    margin: 5px 0 0 2px;
}
.current-weather .description{
    font-size: 1.25rem;

}
.hourly-forcast{
    padding: 16px 25px;
    border-top: 1px solid rgba(255, 255, 255, 0.25);
}
.hourly-forcast .weather-list{
    display: flex;
    list-style: none;
    gap: 32px;
    overflow-x: auto;
    scrollbar-width: thin;
    padding-bottom: 16px;
    margin-bottom: -16px;
    scrollbar-color: transparent transparent;
}
.hourly-forcast:hover .weather-list{
 scrollbar-color: #c5bcdb transparent
}
.hourly-forcast .weather-item{
    display: flex;
    gap: 7px;
    align-items: center;
    flex-direction: column;
}


   
.hourly-forcast .weather-item .weather-icon{
    width: 28px;
    aspect-ratio: 1;
}
.no-results{
    color: #fff;
   display: flex;
   min-height: 460px;
   padding:60px 40px 40px ;
   flex-direction: column;
   align-items: center;
   
}

.no-results .title{
    margin: 25px 0 14px;
    font-size: 1.5rem;
}
/* responsive desing for mobile screen */
@media (max-width: 624px){
    body,
    .search-section{
        padding:20px;
    }
    .hourly-forcast{
        padding: 16px 20px;
    }
    .hourly-forcast .weather-list{
        gap: 20px;
    }
    .no-results{
        padding: 40px 20px 20px ;
        min-height: 458px;
    }
}